/*----------------------------------------- rest css -------------------------------------------*/
@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*----------------------------------------- end rest css -------------------------------------------*/

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 16px;
  color: #2b2b2b;
  margin: 0 !important;
  overflow-x: hidden;
  background-color:#dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition:.3s;
}

/*--------------------------------------- helper class ------------------------------------*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus{
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.my-container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 768px){
  .my-container {
    width: 750px;
  }
}

@media (min-width: 992px){
  .my-container {
    width: 970px;
  }
}

@media (min-width: 1200px){
  .my-container {
    width: 1170px;
  }
}

@media (min-width: 1400px){
  .my-container {
    width: 1300px;
  }
}

@media (min-width: 1500px){
  .my-container {
    width: 1440px;
  }
}

/*--------------------------------------- end helper class ------------------------------------*/
.wrapper-calendar{
  display: flex;
  box-sizing: border-box;
}

.calendar-panel{
  box-sizing: border-box;
  width:30%;
  background-color:#4062BB;
  position: relative;
  display: flex;
  transition: .3s;
}

.navigate-panel-ul{
  margin:0;
  padding:0;
  list-style-type: none;
  box-sizing: border-box;
  background-color: #253067;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:40px;
  z-index:2;
  overflow: hidden;
}

.navigate-panel-li{
  box-sizing: border-box;
  text-align: center;
  margin-bottom:10px;
}


.hamburger-calendar-btn{
  padding:0;
}

.icon-navigate-panel{
  box-sizing: border-box;
  background-color:transparent;
  color:#ffffff;
  font-size:1.5rem;
  border: 1px solid transparent;
  transition:.2s;
}

.icon-navigate-panel:hover{
  background-color:#ffffff;
  color:#4062BB;
  cursor: pointer;
}

.wrapper-content-panel-calendar{
  padding:20px 10px;
  transition:.3s;
  z-index:1;
  width:100%;
}

.panel-date{
  color:#ffffff;
}

.panel-date-title{
  display: block;
  font-size:1.4rem;
  color:#c7c7c7;
  margin-bottom: 5px;
  font-weight: 300;
}

.panel-date-year{
  font-size:1rem;
}

.panel-events{
  box-sizing: border-box;
  margin-bottom:50px;
}

.event-title{
  font-size:1.8rem;
  color:#ffffff;
  font-weight: 300;
}

.event-list-ul{
  margin:0 15px 0 15px;
  padding:0;
  list-style-type: none;
}

.event-list-li{
  margin-bottom: 20px;
  position: relative;
  color:#ffffff;
  border-bottom: 1px solid #253067;
  transition:.2s;
}

.event-list-li::before{
  content:'';
  position: absolute;
  left: -12px;
  top: 9px;
  height:5px;
  width:5px;
  border-radius: 50%;
  background-color:#c7c7c7;
}

.event-list-li-modal{
  color:#c7c7c7;
  position: relative;
  padding-right: 40px;
  margin-bottom: 15px;
}

.event-list-li-through{
  text-decoration: #F45B69 line-through;
  color:#c7c7c7;
}

.event-list-deleted-item{
  opacity:0;
  height:0;
  margin:0;
  padding:0;
  visibility: collapse;
}

.paragraph-events{
  max-height: 0;
  visibility: collapse;
  padding: 0;
  margin: 10px 0;
}

.wrapper-button-events-list{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.event-list-button{
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: .2s;
  margin-left:5px;
}

.event-list-button:hover{
  background-color: #F45B69;
  color:#ffffff;
}

.calendar-body{
  box-sizing: border-box;
  width:70%;
  background-color:#ffffff;
  padding: 10px 10px 30px 10px;
}

.wrapper-month{
  box-sizing: border-box;
  padding:30px;
  position: relative;
}

.wrapper-icon-month{
  position: absolute;
  top:20px;
  right:17px;
}

.icon-month{
  border:1px solid transparent;
  font-size:1.8rem;
  cursor: pointer;
  display: inline-block;
}

.icon-month:hover{
  border:1px solid #F45B69;
}

.month-name{
  font-size:1rem;
  color:#000000;
  font-weight: 700;
}

.month-year{
  margin-left:10px;
}

.wrapper-week{
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  height:50px;
  text-align: center;
  color:#848484;
}

.wrapper-day{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.calendar-box{
  box-sizing: border-box;
  width: 14.28000000%;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding:5px;
  transition: .2s;
}

.day-box{
  cursor: pointer;
  transition:.2s;
  border:1px solid transparent;
  position: relative;
}

.day-box:hover{
  border: 1px solid #dbedfe;
  background-color: #edf7ff;
}

.day-active{
  background-color:#F45B69;
  color:#ffffff;
}

.day-active:hover{
  background-color:#F45B69;
  color:#ffffff;
  border: 1px solid #C31324;
}

.day-box-active-month-previous-days{
  color:#848484;
}

.day-event{
  position: absolute;
  bottom:5px;
  left:5px;
  box-sizing: border-box;
  background-color: #4062BB;
  height:8px;
  width:8px;
}

.day-from-last-month:hover{
  cursor: auto;
  border:1px solid transparent;
  background-color:transparent;
}

.changes-month-effect{
  opacity: 0;
}

.changes-month-effect-d-none{
 display: none;
}


.wrapper-modal{
  z-index:9999;
  position: fixed;
  top:-1000px;
  left:25%;
  background-color:#ffffff;
  border:1px solid #5367b1;
  box-sizing: border-box;
  box-shadow: 1px 1px 20px 0px #253067;
  width:50%;
  transition: .3s;
  display: none;
}

.wrapper-modal-display{
  display: block;
}

.wrapper-modal-open{
  top:20%;
}

.mask-modal{
  transition:.2s;
}

.mask-open-modal{
  background-color: rgba(37, 48, 103, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal-icon-cancel{
  position: absolute;
  top:10px;
  right:10px;
  color:#ffffff;
  background-color: transparent;
  border:none;
  padding:0;
  margin:0;
  cursor: pointer;
  font-size:1.5rem;
}

.modal-title{
  font-weight: 300;
  padding: 20px 0 20px 0;
  margin:0;
  background-color:#5367b1;
  color:#ffffff;
  text-align: center;
}

.wrapper-content-modal{
  padding:20px;
}

.wrapper-inputs-modal{
  margin-bottom: 10px;
}

.modal-label{
  display: block;
  font-size:1rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.modal-input{
  width:100%;
  height:30px;
  padding:10px;
  border: 1px solid #fa8383;
  border-right: 4px solid #fa8383;
}

.modal-area{
  box-sizing: border-box;
  width:100%;
  padding:10px;
  border: 1px solid #fa8383;
  border-right: 4px solid #fa8383;
}

.wrapper-footer-modal{
  display: flex;
  justify-content: space-between;
  margin-top:35px;
}

.modal-btn{
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
}

.modal-btn-add{
  border:1px solid #87c333;

  &:hover{
    background-color:#87c333;
    color:#ffffff;
  }

}
.modal-btn-close{
  border:1px solid #5367b1;

  &:hover{
    background-color: #5367b1;
    color:#ffffff;
  }

}


@media(max-width: 650px){
  .wrapper-calendar{
    flex-wrap: wrap;
  }

  .calendar-panel{
    width:100%;
  }

  .calendar-body{
    width:100%;
  }

}